extends layout 

block content 
    h1=category.name 

    p=category.description

    ul 
        for item in item_list
            li
                a(href=item.url) #{item.name}

    hr
    p 
        a(href=category.url+'/delete') Delete Category 
    p 
        a(href=category.url+'/update') Update Category
    


