extends layout 

block content 
    h1=title 

    form(method='POST')
        label(for='itemName') Item Name: 
        input#itemName(type='text', placeholder='Item name', name='itemName', required, value=(undefined===item ? '' : item.name))
        label(for='itemDesc') Description: 
        input#itemDesc(type='text', placeholder='Item description', name='itemDesc', required, value=(undefined===item ? '' : item.description))
        label(for='itemCategory') Category:
        select#itemCategory(name='itemCategory', required)
            option(value='') --Please select a category--
            for category in category_list 
                if item 
                    if category._id.toString()===item.category._id.toString()
                        option(value=category._id, selected) #{category.name}
                    else 
                        option(value=category._id) #{category.name}
                else 
                    option(value=category._id) #{category.name}
        label(for='itemPrice') Price: 
        input#itemPrice(type='number', name='itemPrice', min='0.01', step='0.01', max='9999999', value=(undefined===item ? '' : item.price))
        label(for='itemAmountInStock') Amount in stock: 
        input#itemAmountInStock(type='number', name='itemAmountInStock', min='0', step='1', max='9999999999', value=(undefined===item ? '' : item.amount_in_stock))
        button(type='submit') Submit



