extends layout 

block content 
    h1=item.name
    p=item.description
    h4
        em $#{item.price}
     
    div
        em Amount in stock: 
            strong #{item.amount_in_stock}

    hr
    p
        a(href=item.url+'/delete') Delete item

    
    
    